<% if object.errors.any? %>
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this from being saved:</h2>
    <ul class="errors alert alert-danger">
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>